<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-color: lightgray
        }

        canvas {
            background-color: white;
            touch-action: none {#Prevent scrolling#}
        }

        p {
            float: top
        }
    </style>

    <meta charset="UTF-8">
    <title>Training session</title>
    {% load static %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/canvas.js" %}"></script>
    {% comment %} <script src="../statics/js/canvas.js"></script>
    <script src="../statics/js/path.js"></script>{% endcomment %}
    <script>training = false;</script>
</head>
<body>
<div id="canvasDiv">
    <canvas id="canvas" width="900" height="900"
            onmousedown="recording = true;" onmouseup="recording = false;"
            ontouchstart="recording = true;" ontouchend="recording = false;"></canvas>
    <p>Draw the symbol for</p>
    <p id="actionToPerform">
        <img src="{% static "img/loading.gif" %}" alt="Loading">
    </p>
</div>
<div id="controls">
    <button type="button" onclick="drawCase(); resetPathRecord()">Redo</button>
    <button type="button" onclick="sendInput(); resetPathRecord(); getCase()">Submit</button>
</div>
</body>
</html>