<!DOCTYPE html>
<html lang="en">
  <head>
      <style>
          body{background-color: lightgray}
          canvas{background-color: white}
      </style>

       <meta charset="UTF-8">
      <title>Training session</title>
      <script src="../statics/js/draw.js"></script>
  </head>
  <body>
  <div id="canvasDiv">
      <canvas id="canvas" width="800" height="800"></canvas>
  </div>
  <div id="controls">
      <button type="button" onclick=clearCanvas()>Redo</button>
      <button type="button">Submit</button>
  </div>
  </body>
</html>